.App{
    width: 100vh;
    height: 100vh;


}
.card{
    width: 250px;
    height: 260px;
}

label{
    color: tomato;
    font-size: 13px;
    border-bottom: .5px solid tomato ;

}

.desc{
    font-size: 14;
}

.star{
    color: gold;
}

.username{
    font-size: 14;
    color: purple;
}
.date{
    font-size: 14;
    color: purple;

}

