.App{
    width: 100vh;
    height: 100vh;


}
.card{
    width: 250px;
    height: 260px;
}

label{
    width:max-content;
    color: tomato;
    font-size: 13px;
    border-bottom: .5px solid tomato ;

}

.desc{
    font-size: 14;
}

.star{
    color: gold;
}

.username{
    font-size: 14;
    color: purple;
}
.date{
    font-size: 14;
    color: purple;

}
form {
    width: 250px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input,textarea,button,select{
    width: 220px;
    border: none;
    border-bottom: 1px solid grey ;
}

input::placeholder, textarea::placeholder{
    width: 220px;
    font-size: 12px;
}

.submitButton{
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color:tomato;
}

.navbar {
    position: absolute;
    top: 7px;
    right: 10px;
    display: flex;
    gap: 10px;
    z-index: 9;


}
.button{
    border: none;
    padding: 3px 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: 500;
    width: fit-content;
}

.logout{
    background-color: tomato;
}

.login{
    background-color: #008080;
}
.register{
    background-color: slateblue ;
}

