

.App{
    width: 100vh;
    height: 100vh;


}
.card{
    width: 250px;
    height: 260px;
}

header {
    width: 100%;
    height: var(--header-height);
    background: rgba(244, 94, 7, 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

label{
    width:max-content;
    color: tomato;
    font-size: 13px;
    border-bottom: .5px solid tomato ;
    

}

.desc{
    font-size: 14;
}

.star{
    color: gold;
}

.username{
    font-size: 14;
    color: purple;
}
.date{
    font-size: 14;
    color: purple;

}
form {
    width: 250px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input,textarea,button,select{
    width: 220px;
    border: none;
    border-bottom: 1px solid grey ;
    
}

input::placeholder, textarea::placeholder{
    width: 220px;
    font-size: 12px;
}

.submitButton{
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color:tomato;
}

.navbar {
    position: absolute;
    top: 7px;
    right: 10px;
    display: flex;
    gap: 10px;
    z-index: 9;


}
.button{
    border: none;
    padding: 3px 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: 500;
    width: fit-content;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.logout{
    background-color: red;
}

.login{
    background-color: #008080;
}
.register{
    background-color: slateblue ;
}

.nav-link{
    background-color: indigo;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.nav-user{
    background: transparent;
    background-color: limegreen;
    font-weight: 700;
    font-size: 0.82rem;
    border: 1px solid rgba(244,94,7,0.40);
    cursor: default;
}

