:root{
    --greydark:  #333333;
    --greylight: #d6d6d6;
    --greylight2: #a1a1a6;
    --white: #f5f5f7;
    --text: #1d1d1f;
    --blue: #0071e3;
    --a: #2997ff;
}
a{
    text-decoration: none;
    color: inherit;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

header{
    width:100%;
    height: 45px;
    background: rgba(244, 94, 7, 1);
    /* background: rgba(238,103,48, 1); */
    /* background: rgba(245,73,39, 0.8); */

    position: fixed;
    top:0;
    left:0;
    z-index: 000;
}

ul{
    height: 100%;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--greylight);
    li{
        cursor: pointer;
        list-style: none;

        &:hover {
            color:white;
        }

        img{
            width: 38px;
            height: 38px;
        }
    }

}
div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5%;
    width: 100%;
    height: 100vh;
}

h2{
    margin-bottom: 15px;
    font-size: 40px;
    top:70%;
    color: white;
}


.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 5%;
}

.txt li{
    margin-bottom: 15px;
}

.nav_left{
   
    width: 25%;
}

.nav_right{
   
    width: 25%;
    
}

.txt{
    display: block;
    color: white;
    font-size: 15px;
}


div:nth-child(2){
    background-image: url(fond_knicks.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.12);
}

div:nth-child(3){
    background-image: url(fond_nets.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

div:nth-child(4){
    background-image: url(fond_lakers.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
div:nth-child(5){
    background-image: url(fond_heat.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

div:nth-child(6){
    background-image: url(fond_bucks.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}