:root {
    --greydark: #333333;
    --greylight: #d6d6d6;
    --greylight2: #a1a1a6;
    --white: #f5f5f7;
    --text: #1d1d1f;
    --blue: #0071e3;
    --a: #2997ff;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

header {
    width: 100%;
    height: 45px;
    background: rgba(244, 94, 7, 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

ul {
    height: 100%;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--greylight);
}

ul li {
    cursor: pointer;
    list-style: none;
}

ul li:hover {
    color: white;
}

ul li img {
    width: 38px;
    height: 38px;
}

div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5%;
    width: 100%;
    height: 100vh;

    /* Paramètres communs appliqués à TOUTES les équipes pour le Parallax */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.3);
}

h2 {
    margin-bottom: 15px;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 5%;
}

.txt li {
    margin-bottom: 15px;
}

.nav_left {
    width: 25%;
}

.nav_right {
    width: 25%;
}

.txt {
    display: block;
    color: white;
    font-size: 15px;
    font-weight: 500;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}

/* Knicks*/
div:nth-child(2) { background-image: url(Parallax/fond_knicks.png); 
background-color: rgba(0, 0, 0, 0.12); }

/* Nets */
div:nth-child(3) { background-image: url(Parallax/fond_nets.png); }

/* Lakers */
div:nth-child(4) { background-image: url(Parallax/fond_lakers.png); }

/* Heat */
div:nth-child(5) { background-image: url(Parallax/fond_heat.png); }

/* Bucks */
div:nth-child(6) { background-image: url(Parallax/fond_bucks.png); }

/* Bulls*/
div:nth-child(7) { background-image: url(Parallax/6.png); }

/* Celtics */
div:nth-child(8) { background-image: url(Parallax/7.png); }

/* Cavs */
div:nth-child(9) { background-image: url(Parallax/8.png); }

/* Pistons */
div:nth-child(10) { background-image: url(Parallax/9.png); }

/* Pacers */
div:nth-child(11) { background-image: url(Parallax/10.png); }

/* Magic */
div:nth-child(12) { background-image: url(Parallax/11.png); }

/* Wizards */
div:nth-child(13) { background-image: url(Parallax/12.png); }

/* --- ON SAUTE L'IMAGE 13 (Doublon) ET ON PASSE DIRECT À 14 --- */

/* Raptors */
div:nth-child(14) { background-image: url(Parallax/14.png); }

/* Hawks */
div:nth-child(15) { background-image: url(Parallax/15.png); }

/* 76ers */
div:nth-child(16) { background-image: url(Parallax/16.png); }

/* Hornets */
div:nth-child(17) { background-image: url(Parallax/17.png); }

/* Warriors */
div:nth-child(18) { background-image: url(Parallax/18.png); }

/* Rockets */
div:nth-child(19) { background-image: url(Parallax/19.png); }

/* Suns */
div:nth-child(20) { background-image: url(Parallax/20.png); }

/* Wolves */
div:nth-child(21) { background-image: url(Parallax/21.png); }

/* Spurs */
div:nth-child(22) { background-image: url(Parallax/22.png); }

/* Grizzlies */
div:nth-child(23) { background-image: url(Parallax/23.png); }

/* Mavs */
div:nth-child(24) { background-image: url(Parallax/24.png); }

/* Blazers */
div:nth-child(25) { background-image: url(Parallax/25.png); }

/* Nuggets */
div:nth-child(26) { background-image: url(Parallax/26.png); }

/* Clippers */
div:nth-child(27) { background-image: url(Parallax/27.png); }

/* Pelicans */
div:nth-child(28) { background-image: url(Parallax/28.png); }

/* Jazz */
div:nth-child(29) { background-image: url(Parallax/29.png); }

/* Kings  */
div:nth-child(30) { background-image: url(Parallax/30.png); }