.loginContainer{
    position: absolute;
    width: 280px;
    height: 210px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    text-align: center;
}

.logo{
    color: #008080 ;
    display: flex;
    align-items:center;
    font-weight: 700;
}

.loginButton{
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color:#008080;
}

.flop{
    color:red;
    font-size:12px;
    text-align: center;
}

.loginCancel{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color:#008080;
}
