:root{
    --greydark:  #333333;
    --greylight: #d6d6d6;
    --greylight2: #a1a1a6;
    --white: #f5f5f7;
    --text: #1d1d1f;
    --blue: #0071e3;
    --a: #2997ff;
}
h1{
    font-weight: bold;
    margin-top: 60px;
    text-align: center;
}

a{
    text-decoration: none;
    color: inherit;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

header{
    width:100%;
    height: 45px;
    /* background: rgba(245,115,39, 0.8); */
    background: rgba(238,103,48, 1);
    /* background: rgba(245,73,39, 0.8); */

    position: fixed;
    top:0;
    left:0;
    z-index: 000;
}

ul{
    height: 100%;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--greylight);
    li{
        cursor: pointer;
        list-style: none;

        &:hover {
            color:white;
        }

        img{
            width: 38px;
            height: 38px;
        }
    }

}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    gap: 15px;
}